/* Estilos generales del body para asegurar que ocupe toda la pantalla y tenga un diseño flexible */
body {
    display: flex; /* Usa flexbox para organizar los elementos */
    flex-direction: column; /* Acomoda los elementos en columna */
    height: 100%; /* Asegura que ocupe todo el alto disponible */
    min-height: 100vh; /* Garantiza que al menos ocupe toda la pantalla */
    margin: 0; /* Elimina los márgenes por defecto */
    background-color: #778899;
    /*overflow: hidden;*/ /* Evita que el contenido adicional genere scroll */
}


/* Contenedor de las imágenes de los coches */
.imagenes_ch {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columnas iguales */
    gap: 10px; /* Espacio entre imágenes */
    justify-items: center; /* Centrar imágenes horizontalmente */
    align-items: center; /* Alinear imágenes verticalmente */
    margin: 140px 30px 80px 30px;
}

/* Estilos para las imágenes dentro de la cuadrícula */
.imagenes_ch img {
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 300px; /* Tamaño máximo para uniformidad */
    height: 250px; /* Tamaño fijo para todas las imágenes */
    object-fit: cover; /* Recorta y ajusta la imagen manteniendo proporción */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    transition: transform 0.3s ease-in-out; /* Suaviza la animación */
}

/* Contenedor de la información del producto (nombre, precio, botón de compra) */
.info_producto{
    padding: 12 0 12 0;
}

/* Contenedor individual para cada coche */
.ficha_coche{
    background-color: grey;
    border-radius: 10px;
}


/* Efecto al pasar el cursor sobre las imágenes */
.imagenes_ch img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.548); /* Agrega una sombra para resaltar la imagen */
    transform: scale(1.1); /* Aumenta el tamaño */
}

