/*Estilos generales del body*/
body {
    display: flex; 
    flex-direction: column; /*Acomoda los elementos en columna*/
    height: 100%; 
    min-height: 100vh; 
    margin: 0; 
    background-color: rgb(77, 77, 77);
    overflow: hidden; /*Evita que el contenido adicional genere scroll*/
}

/*Letra del menú superior para que mantenga la uniformidad*/
#menu_principal ul li a{
    color: #00BFFF;
    font-weight: bold;
    font-size: 22px;
}


/*Contenedor de las imágenes de los coches*/
.imagenes_ch {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas iguales*/
    gap: 10px; /*Espacio entre imágenes*/
    justify-items: center; 
    align-items: center; 
    margin: 140px 30px 80px 30px;
}

/*Estilos para las imágenes dentro de la cuadrícula*/
.imagenes_ch img {
    width: 100%; 
    max-width: 300px; /*Tamaño máximo para dar uniformidad*/
    height: 250px; /*Tamaño fijo para todas las imágenes*/
    object-fit: cover; /*Recorta y ajusta la imagen manteniendo proporción*/
    transition: transform 0.3s ease-in-out; 
}

/*Contenedor de la información del producto (nombre, precio, botón de compra)*/
.info_producto{
    padding: 15px 0 15px 0s;
    margin-bottom: 10px;
    text-align: center;
}

.info_producto h2{
    color: #00BFFF;
}

.precio{
    color: #00BFFF;
}

.ficha_coche button{
    border-radius: 4px;
    border: solid #00BFFF 2px;
    background-color: grey;
    margin: 5px 0 5px 0;
    padding: 5px 8px 5px 8px;
    font-weight: bold;
}

.ficha_coche button a{
    color: #00BFFF;
}


/*Contenedor individual para cada coche*/
.ficha_coche{
    background-color: grey;
    border-radius: 10px;
}

.ficha_coche figure{
    overflow: hidden; /*Para que no sobresalga y tape otros elementos */
    background-color:#5c7499;   
}


/*Efecto al pasar el cursor sobre las imágenes*/
.imagenes_ch img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.548);
    transform: scale(1.1);
}

/*Efecto al pasar el cursor sobre el botón*/
.ficha_coche button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.548); 
    transform: scale(1.1); 
}

