@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,600;1,200;1,400&display=swap");

footer,
#menu_principal,
#presentacion{
    font-family: "Be Vietnam Pro", serif;
    color: #00BFFF;
    margin: 0;
}

