.Titulo {
    text-align: center;
    font-size: 3em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: rgb(39, 37, 37);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.car-container1, .car-container2 {
    display: flex;
    justify-content: center;
    gap: 50px; /* Reduce the gap between containers */
    flex-wrap: wrap;
    padding: 5px; /* Reduce the padding */
}

/*Margen superior para que no se solape con el header*/
.car1, .car2, .car3{
    margin-top: 140px;
}

/*Margen para no solaparse con el footer*/
.car4, .car5, .car6{
    margin-bottom: 80px;   
}

.car1, .car2, .car3, .car4, .car5, .car6 {
    --b: 4px;
    --l: #0000 0% 70%, #0000ff7f;
    --f: url(#glow-0);
    border: solid var(--b) #0000;
    border-radius: calc(2*var(--b));
    padding: 10px; /* Reduce the padding */
    width: 250px; /* Reduce the width */
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s;
    background: 
        repeating-conic-gradient(from var(--a, 0deg), 
                var(--l, #0000 0% 70%, #0000ff7f)) border-box;
    filter: var(--f, url(#glow-0));
    animation: a 2s linear infinite;
}

@property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes a { to { --a: 1turn } }

.car1 img, .car2 img, .car3 img, .car4 img, .car5 img, .car6 img {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}

.car1 p, .car2 p, .car3 p, .car4 p, .car5 p, .car6 p {
    opacity: 0;
    transition: opacity 0.3s, max-height 0.3s;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.car1:hover, .car2:hover, .car3:hover, .car4:hover, .car5:hover, .car6:hover {
    background-color: #92e3db;
}

.car1:hover p, .car2:hover p, .car3:hover p, .car4:hover p, .car5:hover p, .car6:hover p {
    opacity: 1;
    max-height: 500px;
    padding: 10px;
}

.car1 a, .car2 a, .car3 a, .car4 a, .car5 a, .car6 a {
    text-decoration: none;
    color: inherit;
    display: block;
}
